
/* Base Application Styles */

html,body{
  width: 100%;
  height: 100%;
  background-color: #222;
}


.content{
  width: 100%;
  height: 100%;
}

// stage -- start
.stage{
  position: relative;
  width: 100%;
  // height: 680px;
  height: 100%;
}

// image -- start
.img-src{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ddd;
  perspective: 1800px;
  @at-root{
    .img-figure{
      position: absolute;
      width: 320px;
      height: 360px;
      margin: 0;
      padding: 40px;
      box-sizing: border-box;
      cursor: pointer;
      background-color: #fff;
      transform-style: preserve-3d;
      transition: all 0.6s ease-in-out ;
      transform-origin: 0 50% 0;
      img{
        width: 240px;
        height: 240px;
        backface-visibility: hidden;
      }
      &.is-inverse {
        transform:  translateX(320px) rotateY(180deg);

      }
    }
    figcaption{
      text-align: center;
      .img-title{
        margin: 20px 0 0 0;
        color: #a7a0a2;
        font-size: 16px;
        backface-visibility: hidden;
      }
      .img-back {
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        width: 100%;
        height: 100%;
        padding: 50px 40px;
        overflow: auto;

        color: #a7a0a2;
        font-size: 22px;
        line-height: 1.25;
        text-align: left;

        background-color: #fff;
        backface-visibility: hidden;
        box-sizing: border-box;
        transform: rotateY(-180deg) translateZ(1px);
        p {
          margin: 0;
        }
      }
    }
  }

}

// controller -- start
.controller-nav{
  position: absolute;
  left: 0;
  bottom: 30px;
  z-index: 101;
  width: 100%;
  text-align: center;
  @at-root{
    .controller-unit{
      display: inline-block;
      margin: 0 5px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      background-color: #aaa;
      border-radius: 50%;
      transform: scale(0.5);
      transition: all 0.6s ease-in-out;
      i{
        width: 30px;
        height: 30px;
        display: none;
        color: #fff;
      }
      &.is-center{
        transform: scale(1);
        i{
          display: inline-block;
        }
      }

      &.is-inverse{
        transform: rotateY(180deg);
      }
    }
  }
}

